---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="text-3xl font-bold tracking-tight text-zinc-100 sm:text-5xl p-1 text-center">
    Get Involved
  </h1>
  <article class="mx-auto mt-6 prose prose-zinc prose-invert lg:prose-xl">
    <h3>How do I sign up to volunteer?</h3>
    <p>We'd love to hear from you! If you are interested in joining or have questions, please email <a href="mailto:membership.badgerspill@gmail.com">membership.badgerspill@gmail.com</a>. If you are an RSO/organization leader interested in receiving student supporter training for your group, please fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLScKKnA2r2mnGg5bRGRgXnfucWe-ghcgKlbQEcuW_f2__5Iq8A/viewform">this request form</a> to be contacted by one of our trainers.</p>
    <h3>What is a student supporter?</h3>
    <p>A student supporter is a volunteer student who has gone through the training necessary to give clear, empathetic, and empowering support. They confidentially fill out a past struggles inventory that allows us to send them spills based on their prior experience and comfort with particular topics. These are fellow peers on campus who have decided that they want to help other students who are struggling by responding to several emails each semester.</p>
    <h3>What does this commitment entail?</h3>
    <p>Because Badger Spill doesn't have any regular meetings, being a student supporter is a relatively painless community service opportunity. Student supporters typically receive approximately 5-10 emails each semester, and commit to responding to each within 24 hours. It's a great way to directly benefit other people on campus who are struggling!</p>
  </article>
</BaseLayout>