---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import madisonImage from "../assets/madison.jpg";
import Input from "../components/Input.astro";
import Textarea from "../components/Textarea.astro";
---

<BaseLayout>
  <section id="hero">
    <div class="lg:grid lg:grid-cols-12">
      <div class="lg:col-span-5 lg:flex lg:flex-col lg:justify-center">
        <h1 class="text-4xl font-bold tracking-tight text-zinc-100 sm:text-5xl">
          Need to vent to a fellow badger? <span
            class="bg-gradient-to-r from-primary-200 to-primary-400 text-transparent bg-clip-text"
            >Spill it!</span
          >
        </h1>
        <p class="mt-6 text-base font-normal leading-7 text-zinc-400">
          Talk anonymously with other badger students for advice, support, or
          just to vent! Badger Spill helps connect students on campus with
          trained responders that can provide empathy, advice, and helpful
          resources.
        </p>
      </div>
      <div class="mt-6 lg:col-span-7 lg:mt-0 lg:pl-8">
        <Image
          src={madisonImage}
          alt="Madison capitol"
          class="h-96 w-full rounded-xl object-cover"
        />
      </div>
    </div>
  </section>
  <section id="spill-form" class="my-16">
    <Input
      id="email"
      label="Wisc Email"
      type="email"
      placeholder="you@wisc.edu"
    />
    <div class="mt-4">
      <Textarea 
        id="message"
        label="Message"
        placeholder="Write your message here. A volunteer badger will reply to your anonymous message!"
      />
    </div>
  </section>
</BaseLayout>
