---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="">
    <h1
      class="text-4xl font-bold tracking-tight text-zinc-100 sm:text-5xl text-center"
    >
      Website Terms of Use
    </h1>
    <h2 class="text-3xl font-bold tracking-tight text-zinc-100 mt-8 sm:text-4xl">
      Badger Spill <span class="text-green-400">Does</span>:
    </h2>
    <ul class="text-lg text-zinc-200 mt-3 list-disc list-inside flex flex-col gap-3">
      <li>
        Allow you to vent about whatever you're going through confidentially. We
        want you to get it off your chest, and get input from other students who
        have been in similar situation. [Note: SPILL reserves the right to break
        confidentiality if individuals are threats to themselves or others].
      </li>
      <li>
        Connect students who are struggling with similar problems by providing them with a thread of identity-free messages of support, encouragement, and resources from "Student Supporters" in that campus network.
      </li>
      <li>
        Aim to be an informal outlet for stress and frustrations among peers, particularly when one might not be comfortable talking face-to-face with friends or professionals about it, or may be seeking an unbiased opinion.
      </li>
      <li>
        Educate its team of volunteer "Student Supporters" (those responding to emails) to be non-judgmental active listeners, and screens their responses to ensure advantageous feedback is being given.
      </li>
      <li>
        Send your "spill" to multiple Student Supporters in your area of concern, giving you a handful of perspectives to consider.
      </li>
      <li>
        Try our hardest to get your response back to you within 24 hours! [Note: During finals week, school recesses, and summer break, Student Supporters are allowed 48 hours to respond].
      </li>
      <li>
        Want to keep expanding to other campuses! If you're interested in starting a chapter at your school or getting more information, email us!
      </li>
    </ul>
    <h2 class="text-3xl font-bold tracking-tight text-zinc-100 mt-8 sm:text-4xl">
      Badger Spill <span class=" text-red-400">Does Not</span>:
    </h2>
    <ul class="text-lg text-zinc-200 mt-3 list-disc list-inside flex flex-col gap-3">
      <li>Deal with emergency or crisis situations; if a plan to harm oneself or others is apparent, concerns for privacy will be disregarded, and 911 will be called.</li>
      <li>Respond to spills that come in from anything other than your school's email address (Ex: yourname@wisc.edu, yourname@berkeley.edu, yourname@und.edu). Spills will be returned to sender with a request to send it from their school email address.</li>
      <li>Allow continued conversation between the Spiller and the Student Supporters or an opportunity for them to meet up in person; we want to protect the identities of both parties, do not want people getting stalked, and do not want to be abused as a dating/friend-making service.</li>
      <li>Claim to be affiliated with all universities where student chapters exist; the organization is made up of and for students, though university personnel often supervise the effort.</li>
      <li>File official reports about instances of abuse, academic misconduct, or personal confessions; SPILL abides by HIPAA and FERPA regulations, and student information will not impact an individual's academic profile.</li>
      <li>Attempt (by any means) to be a replacement for personal counseling; we are not medical professionals, and we do not intend to be. We do, however, recognize that it can be hard to reach out for help sometimes, and we hope to act as a stepping stone in the process.</li>
    </ul>
  </div>
</BaseLayout>
