---
import BaseLayout from "../layouts/BaseLayout.astro";

const gradientText = "bg-gradient-to-r from-primary-200 to-primary-400 text-transparent bg-clip-text";
---
<BaseLayout>
  <h1 class="text-3xl font-bold tracking-tight text-zinc-100 sm:text-5xl p-1 text-center">
    Testimonials
  </h1>
  <article class="mx-auto mt-6 prose prose-zinc prose-invert lg:prose-xl">
    <h3>Badger Spill earned a satisfaction rating of <span class={gradientText}>9.2 out of 10</span> from students, with <span class={gradientText}>100% of users</span> saying that every campus should have the program and they would tell a friend about Badger Spill.</h2>
    <blockquote>"It was like having the best friend I could ever ask for. It wasn't like going to counseling where they're walking on egg shells to be professional. It was just REAL & HONEST, and it felt like we had been friends for years. Combined, all of my student supporters made such a world of difference and they don't even know it! By far the best student resource on campus!"</blockquote>
    <blockquote>"It felt good to write down my thoughts to an anonymous person that would have a really unbiased opinion. I was looking forward to getting a very 'outside' perspective since they have no idea who I am. If friends of mine are ever struggling, and I don't know how to help, Spill will be one of my first recommendations. Every campus in the world could use a program like this."</blockquote>
    <blockquote>"I felt as though I could share any secret I wanted and not get judged. It is like having a best friend that is always there for you, which is almost impossible to find. I felt like my problem wasn't so overwhelming anymore. It made my problem seem easier to deal with."</blockquote>
    <blockquote>"It was a relief to know that someone was there to listen to what I had to say. Knowing that someone would respond with a thoughtful suggestion was a reminder that no matter what my problem is there will always be someone who is willing to listen and help me work through it."</blockquote>
    <blockquote>"It is exactly what students need: When you move to college, it's hard to find other people with similar problems that you can trust. It makes the community feel a lot more tight-knit to know that there are others on campus dealing with the same problems as me made me. I'm definitely a lot more considerate of people walking on the streets around me."</blockquote>
    <blockquote>"It can be so awkward to talk face-to-face about these things, and a non-judgmental listening ear was exactly what I needed to pull me out of my rut. I could be completely honest with myself because I didn't feel judged or singled out. What a relief it is to finally have something like this on campus."</blockquote>
    <blockquote>"Oh my gosh. I can't even EXPRESS how amazed I am with this thing. My friends didn't really understand because they had never been through a similar situation, and it was eating me away inside. I wasn't ready to talk to a counselor until the student supporters gave me the guidance and tough love that I needed. I am soooo grateful for Spill!!!"</blockquote>
    <blockquote>"I was packing my bags to quit school when my roommate told me about Spill. It changed my whole outlook to realize that I wasn't the only person having a hard time my first year, and I decided to give it another go. I'm now loving my life at school, and I'm happy to say that Spill saved my college career."</blockquote>
    <blockquote>"I felt there was a weight lifted off of my shoulders in being able to get support anonymously. Also, knowing that the other students genuinely wanted to help made it easy to talk about how I was truly feeling. I felt one step closer to the solution just by acknowledging what was upsetting me."</blockquote>
    <blockquote>"The student supporters helped me realize how strong I can be, and gave me some great resources for dealing with my problem. It was nice talking to other college students who are in a similar position... I felt like I could relate better to students than I could to a professional who hasn't been in college for 30 years. Plus, hearing from 6 other people gave me a good grasp of what I had to do."</blockquote>
  </article>
</BaseLayout>