---
/*
  This program is the Badger Spill website.

  Copyright (C) 2023-2024 James Julich

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

type AlertType = "primary" | "danger"
interface Props {
  variant?: AlertType;
}

const { variant } = Astro.props;

function colorString(variant?: AlertType) {
  switch (variant) {
    case "danger":
      return "border-red-500";
    case "primary":
    default:
      return "border-zinc-500";
  }
}

// There is probably a better way to do this....
const styles = "w-full max-w-prose border rounded-lg p-3 text-zinc-200 lg:max-w-prose-xl lg:text-xl lg:p-4 " + colorString(variant);
---

<div class={styles}>
  <slot />
</div>