<hr class="mb-8 h-px border-0 bg-zinc-700" />
<footer class="my-8 flex items-center">
    <p class="text-sm text-zinc-400">Badger Spill is made possible by funding from Associated Students of Madison.</p>
</footer>