<hr class="mb-8 h-px border-0 bg-zinc-700" />
<footer class="my-8 flex flex-col gap-2">
    <p class="text-sm text-zinc-400">Badger Spill is made possible by funding from Associated Students of Madison.</p>
    <p class="text-sm text-zinc-400">Badger Spill is not a crisis or emergency resource. If you or a friend is in crisis, <a href="#" class="underline">click here</a> for a list of crisis resources.</p>
</footer>