---
interface Props {
  id: string;
  label: string;
  placeholder: string;
}

const {id, label, placeholder} = Astro.props;
---

<div>
  <label for={id} class="mb-1 block text-sm font-medium text-zinc-400">
    {label}
  </label>
  <textarea
    id={id}
    class="block w-full rounded-md border-zinc-500 bg-transparent text-zinc-300 placeholder-zinc-500"
    rows="10"
    placeholder={placeholder}
  />
</div>
