---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<html class="bg-zinc-900 mx-auto max-w-[85rem]">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
    </head>
    <Header />
    <main class="px-4 sm:px-8">
      <slot />
    </main>
    <Footer />
</html>