---
/*
  This program is the Badger Spill website.

  Copyright (C) 2023-2024 James Julich

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  includeCaptcha?: boolean
}

const { includeCaptcha } = Astro.props;
---

<html class="bg-zinc-900 mx-auto max-w-[85rem] px-4 sm:px-8">
  <head>
    <title>Badger Spill</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/favicon.png">
    {includeCaptcha &&
      <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    }
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K0VT4CXJPQ"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-K0VT4CXJPQ');
    </script>
  </head>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</html>